html,
body {
  background: black;
  margin: 0;
  overflow: hidden;
  font-family: 'VT323', monospace;
}

#link {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.3);
}

canvas,
img {
  filter: blur(1px) contrast(1.8);
}

#glare,
#glare2,
#antiglare {
  position: absolute;
  filter: blur(120px);
  z-index: 10;
}
#glare {
  top: -10%;
  bottom: 40%;
  left: 40%;
  right: 10%;
  background-color: hsla(0, 0%, 100%, 0.25);
}
#glare2 {
  top: 60%;
  bottom: 10%;
  left: 10%;
  right: 60%;
  background-color: hsla(0, 0%, 100%, 0.15);
}

#antiglare {
  top: 30%;
  bottom: 0%;
  left: 40%;
  right: 40%;
  filter: blur(80px);
  background-color: hsla(0, 0%, 0%, 0.1);
}
